
.graph{
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    border: 2px #ccc solid;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.heading h3{
    color: purple;
}